.nav-menu {
  display: none;
}

.nav-menu.open {
  display: block;
}

.active {
  color: #2383D1;
  border-bottom: 2px solid #2383D1;
  padding-bottom: 0.5rem;
}

.inactive {
  color: inherit;
  border-bottom: none;
  padding-bottom: 0;
}